[report]
exclude_lines =
    # Skip any pass lines such as may be used for @abstractmethod
    pass
    
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    raise TypeError
    raise ValueError
